body{
	background: #34793C url("images/fon.png");	
	text-align: center;
	color: #ffffff;
	font-family: 'Comic Sans MS',Geneva , Arial;
	margin: 0px;
	padding: 0px;

}

#shapka{
	background-color: rgba(48,107,32,0.4);	
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;	
	height: 40px;
	z-index: 100;
}

#shapka h1{
	color: #000000;
	font-size: 16pt;
	text-shadow: #41A23F 0 0 2px;
	margin: 0;
	padding-top: 10;
}

#game{
	border: 1px solid #2B5138;	
	height: 460px;
	width: 840px;	
	position: relative;
	margin: 60px auto;
}

#footer{
	background-color: rgba(33,62,35,0.5);
	/*opacity: 0.8;*/
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;	
	height: 36px;
	z-index: 100;
}

#clock{
	margin: 4px;
	padding: 2px 6px;
	top: 0px;
	right: 0px;	
	border: 1px solid #2B5138;	
	font-size: 12pt;
	position: absolute;
}

#new-game{
	margin: 4px;
	padding: 2px 6px;
	top: 0px;
	left: 0px;	
	border: 1px solid #2B5138;	
	background-color: rgba(33,62,35,0.5);
	color: #aaa;
	font-size: 12pt;
	position: absolute;
}

.start-game{	
	top: 380px;
	left: 320px;	
	width: 200px;
	height: 50px;
	border: 1px solid #2B5138;	
	background-color: #3B8A3D;
	font-size: 18pt;
	position: absolute;
}

.load-game{
	position: relative;	
	z-index: 1000;
	/*border: 2px solid #2B5138;	*/
	background-color: rgba(33,62,35,1);
	padding-top: 10px;
	height: 460px;
	width: 840px;		
	margin: 0px auto;
}

.help{	
	background: rgba(33,62,35,1);
	text-align: left;		
	padding: 0;
	margin: 0;
}

.help body{	
	background-color: rgba(33,62,35,1);
}

.help h2{		
	font-size: 12pt;
	padding: 0;
	margin: 0;
}

.help p{		
	font-size: 10pt;
	padding: 4px 0;
	margin: 0;
}

.help-game{	
	background-color: rgba(33,62,35,1);
	padding: 0;
	top: 50px;
	left: 40px;	
	width: 760px;
	height: 220px;	
	border:0;
	text-align: left;
	position: absolute;

}

.load-game img{
	position: absolute;		
	height: 50px;
	width: 36px;		
	top: 300px;
	left: 50px;
}

.menu{
	list-style-type: none;
	margin: 4px;
	padding: 0;
	top: 0px;
	left: 0px;			
	position: absolute;
	font-size: 12pt;
}

.menu li{
	display: inline;
	margin: 0;
	padding: 3px 6px;	
	border: 1px solid #2B5138;
}

.cards{
	
	background-size: 100%;
	height: 140px;
	width: 100px;	
	position: absolute;

}

.card-cheked{		
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.card-move{		
	-webkit-filter: invert(50%);
	filter: invert(50%);
}

.points{
	color: #000000;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: #24542E 0 0 2px;
	position: absolute;
	left:650px;
	top:30px;

}

